@font-face {
	font-family: "Venus Plant";
	src: url("fonts/Venus Plant.ttf");
}

@font-face {
	font-family: "Coolvetica";
	src: url("fonts/coolveticarg.otf");
}

body {
	margin: 0;
	padding: 0;
	height: 1300px;
  background-color: violet; /* For browsers that do not support gradients */
  background-image: linear-gradient(#9f025e, #f9c929);
  background-size: cover;
}

#text1 {
	color: white;
	left: 10%;
	top: 10%;
	position: absolute;
	text-shadow: 1px 1px #00000;
	font-size: 50px;
	font-family: "Venus Plant";
}

#text2 {
	color: white;
	left: 10%;
	top: 18%;
	position: absolute;
	text-shadow: 200px 200px #00000;
	font-size: 50px;
	font-family: "Venus Plant";
}

#world {
	width: 575px;
	height: 575px;
	top: 5%;
	left: 55%;
	position: absolute;
}

#cotext1 {
	left: 10%;
	top: 35%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext1 {
	left: 10%;
	top: 40%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext2 {
	left: 10%;
	top: 43%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext3 {
	left: 10%;
	top: 46%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext4 {
	left: 10%;
	top: 49%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext5 {
	left: 10%;
	top: 54%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext6 {
	left: 10%;
	top: 57%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext7 {
	left: 10%;
	top: 60%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext8 {
	left: 10%;
	top: 63%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext9 {
	left: 10%;
	top: 68%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext10 {
	left: 10%;
	top: 71%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext11 {
	left: 10%;
	top: 74%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#iphone {
	width: 575px;
	height: 575px;
	top: 110%;
	left: 55%;
	position: absolute;
}

#cotext2 {
	left: 10%;
	top: 115%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext12 {
	left: 10%;
	top: 120%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext13 {
	left: 10%;
	top: 123%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext14 {
	left: 10%;
	top: 126%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext15 {
	left: 10%;
	top: 129%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext16 {
	left: 10%;
	top: 132%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext17 {
	left: 10%;
	top: 135%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext18 {
	left: 10%;
	top: 138%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext19 {
	left: 10%;
	top: 141%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}





#cotext3 {
	left: 10%;
	top: 151%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext20 {
	left: 10%;
	top: 156%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext21 {
	left: 10%;
	top: 159%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext22 {
	left: 10%;
	top: 162%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext23 {
	left: 10%;
	top: 165%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext27 {
	left: 10%;
	top: 168%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext24 {
	left: 10%;
	top: 173%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext25 {
	left: 10%;
	top: 176%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}

#subtext26 {
	left: 10%;
	top: 179%;
	position: absolute;
	text-align: left;
	font-family: "Coolvetica";
	color: white;
	overflow-wrap: break-word;
}


#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #f9c929; 
  color: black; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}


#myBtn:hover {
  background-color: #9f025e; 
}

